@model UserUpdateDto
<form asp-controller="Kullanici" asp-action="Update" method="post">


    <div class="mb-3">
        <label asp-fo class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="KullaniciAdi">
    </div>
    <div class="mb-3">
        <label asp-for="Adi" class="form-label">Ad</label>
        <input type="text" class="form-control" asp-for="Adi">
    </div>
    <div class="mb-3">
        <label asp-for="Soyadi" class="form-label">Soyadı</label>
        <input type="text" class="form-control" asp-for="Soyadi">
    </div>
    @*<div class="mb-3">
        <label asp-for="YapimYili" class="form-label">Yapım Yılı</label>
        <input type="datetime" class="form-control"
               asp-for="YapimYili">
    </div>*@
    
    
        
    <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary">Kaydet</button>
        <a class="btn btn-outline-danger" asp-action="Index" asp-controller="Kullanici">Geri Dön</a>
    </div>

</form>