@model FilmDukkani.Models.DTOs.Fimler.FilmListDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="row">
        
            <div class="col-md-2">
                <div class="card" style="width:150px">
                    <img class="card-img-top" src="~/img/ucuz-roman-1660915271.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Ucuz Roman</h4>
                        <p class="card-text">Aciklama</p>
                        <a href="#" class="btn btn-info">İncele</a>
                        <a href="#" class="btn btn-success">Kirala</a>
                    </div>
                </div>
            </div>
        <div class="col-md-2">
            <div class="card" style="width:150px">
                <img class="card-img-top" src="~/img/baslangic-1660924244.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Esaretin bedeli</h4>
                    <p class="card-text">Açıklama</p>
                    <a href="#" class="btn btn-info">İncele</a>
                    <a href="#" class="btn btn-success">Kirala</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width:150px">
                <img class="card-img-top" src="~/img/esaretin-bedeli-1660926263.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Esaretin bedeli</h4>
                    <p class="card-text">Açıklama</p>
                    <a href="#" class="btn btn-info">İncele</a>
                    <a href="#" class="btn btn-success">Kirala</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width:150px">
                <img class="card-img-top" src="~/img/forrest-gump-1660915302.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Esaretin bedeli</h4>
                    <p class="card-text">Açıklama</p>
                    <a href="#" class="btn btn-info">İncele</a>
                    <a href="#" class="btn btn-success">Kirala</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card" style="width:150px">
                <img class="card-img-top" src="~/img/prestij-1660915246.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Esaretin bedeli</h4>
                    <p class="card-text">Açıklama</p>
                    <a href="#" class="btn btn-info">İncele</a>
                    <a href="#" class="btn btn-success">Kirala</a>
                </div>
            </div>
        </div>
        
    </div>






</body>
</html>


