@model KategoriCreateDto
<form asp-controller="Kategori" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="KategoriAdi" class="form-label">Kategori Adı</label>
        <input type="text" class="form-control" asp-for="KategoriAdi">
    </div>

    <div class="mb-3">
        <label asp-for="Aciklama" class="form-label">Açıklama</label>
        <input type="text" class="form-control" asp-for="Aciklama">

    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>