@model Film

    <div class="card mb-3">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="~/img/@Model.Fotograflar" class="card-img">
                </div>
                <div class="col-md-9">

                    <h5 class="card-title">Film Adı:@Model.FilmAdi</h5>
                    <h3 class="card-text">Fiyat:@Model.Fiyat</h3>

                    <h4 class="card-text">Konu:@Model.Aciklama</h4>
                    <h4 class="card-text">Süre:@Model.Sure</h4>
                    <h4 class="card-text">Puan:@Model.Puan</h4>
                   

                </div>
            </div>
        </div>
    </div>
