@model IEnumerable<FilmListDto>

<a class="btn btn-primary" asp-action="Create">Film Ekle</a>
<table class="table table-hover">
    <thead>
        <tr>


            <td>Film Adı</td>
            <td>Açıklama</td>
            <td>Yönetmen</td>
            <td>Resim</td>
            <td></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.FilmAdi</td>
                <td>@item.Aciklama</td>
                <td>@item.Yonetmeni</td>
                <td>@item.Resim</td>
                <td>
                    <a class="btn btn-primary" asp-action="Create">Güncelle</a>
                    <a class="btn btn-primary" asp-action="Create">Sil</a>
                </td>

            </tr>
        }
    </tbody>
</table>