@model Film
<form asp-controller="Film" asp-action="Update" method="post">
    <div class="mb-3">
        <label asp-for="FilmAdi" class="form-label">Film Adı</label>
        <input type="text" class="form-control" asp-for="FilmAdi">
    </div>
    <div class="mb-3">
        <label asp-for="Aciklama" class="form-label">Konu</label>
        <input type="text" class="form-control" asp-for="Aciklama">
    </div>
    <div class="mb-3">
        <label asp-for="Yonetmeni" class="form-label">Yönetmen</label>
        <input type="text" class="form-control" asp-for="Yonetmeni">
    </div>
    <div class="mb-3">
        <label asp-for="YapimYili" class="form-label">Yapım</label>
        <input type="datetime" class="form-control" asp-for="YapimYili">
    </div>
    <div class="mb-3">
        <label asp-for="Fiyat" class="form-label">Fiyat</label>
        <input type="text" class="form-control" asp-for="Fiyat">
    </div>
    <div class="mb-3">
        <label asp-for="Sure" class="form-label">Süre</label>
        <input type="text" class="form-control" asp-for="Sure">
    </div> <div class="mb-3">
        <label asp-for="FilmKategorileri" class="form-label">KategoriId</label>
        <input type="text" class="form-control" asp-for="FilmKategorileri">
    </div>
    <div class="mb-3">
        <label asp-for="Puan" class="form-label">Puan</label>
        <input type="text" class="form-control" asp-for="Puan">
    </div>

    @*<div class="mb-3">
        <label asp-for="photo" class="form-label">Resim</label>
        <input type="hidden" name="file" asp-for="PhotoUrl">
        <img src="~/img/@Model.PhotoUrl" width="80" />
        <input type="file" name="file" />
    </div>*@
    
    
    

    <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary">Kaydet</button>
        <a class="btn btn-outline-danger" asp-action="Index" asp-controller="Film">Geri Dön</a>
    </div>

</form>