@model string

<div class="row">
    <div class="card">
        <div class="card-title">
            <h4>Create Role</h4>
        </div>

        <form asp-action="Create" asp-controller="Role">
            <div class="card-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="Role Name" />
                </div>

                <div class="form-group">

                    <input type="submit" name="Name" class="btn btn-outline-info" value="Create Role" />
                    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Role">Back to List</a>
                </div>

            </div>
        </form>
    </div>
</div>